<div class="container-fluid" id="top-container">
         <h1 class="text-center" id="main-title">Find your dream job</h1>
         <p id="main-subtitle" class="text-center">
            We are the website with most dev jobs on the market
         </p>
         <form action="" id="search-form" class="form-inline">
            <div class="row">
               <div class="form-group col-md-10">
                  <input
                     type="text"
                     class="form-control"
                     id="job"
                     name="job"
                     placeholder="Type the job you are looking for"
                  />
               </div>
               <div class="col-md-2">
                  <button class="btn btn-primary" type="submit">Search</button>
               </div>
            </div>
         </form>
      </div>
      <main>
         <div id="jobs-container" class="container">
            <div class="row">
               <div class="col-md-12">
                  <h2 id="job-list-title">These are our best job offers</h2>
                  <ul id="job-list" class="list-group">
                     {{#each jobs}}
                     <li class="list-group-item">
                        <img src="/img/company.svg" alt="Company" />
                        <p>{{dataValues.company}}</p>
                        <h2>{{dataValues.type}}</h2>
                        <p>{{dataValues.salary}}</p>
                        <span class="new-job-label">Nova</span>
                        <a class="btn btn-primary">Job Details</a>
                     </li>
                     {{/each}}
                  </ul>
               </div>
            </div>
         </div>
      </main>