<!DOCTYPE html>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Add Job</title>
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
         crossorigin="anonymous"
      />
      <link rel="stylesheet" href="../public/css/styles.css" />
   </head>
<body>
         <header>
         <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a href="index.html" class="navbar-brand">Job Finder</a>
            <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarNav"
               aria-controls="navbarNav"
               aria-expanded="false"
               aria-label="Toggle navigation "
            >
               <span class="navbar-toggle-icon"></span>
            </button>
            <div
               class="collapse navbar-collapse justify-content-end"
               id="navbarNav"
            >
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="index.html">See Jobs List</a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link btn btn-primary"
                        >Offer a Job</a
                     >
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <div id="add-form-container" class="container">
         <div class="row">
            <div class="col-md-12">
               <h1 class="text-center">Publish Your Job Offer</h1>
            </div>
            <div id="form-box" class="col-md-12">
               <h2>Fill out the form so you can get the best dev for the job!</h2>
               <form action="">
                  <div class="form-group">
                     <label for="title">Job title</label>
                     <input type="text" class="form-control" id="title" name="title" placeholder="Type the job title">
                     <small id="titleHelp" class=""></small>
                  </div>
               </form>
            </div>
         </div>
      </div>
   

      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
         crossorigin="anonymous"
      ></script>
</body>
</html>